@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* ================ Sections ================== */
html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.t-header {
    background-color: #e20074;
    height: 8em;
}

.t-header-text {
    color: #ffffff;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 90px;
}

.t-header-logo {
    height: 60%;
    margin-top: 20px;
    margin-left: 20px;
}

.t-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    height: 120px;
    text-align: right;
}

.setting {
    margin: auto;
    width: 60%;
    padding: 10px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
}

.setting-entry {
    margin-left: 5%;
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-area {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.save-area {
    margin-top: 3em;
}

.socialMediaBtn {
    margin: 2%;
    height: 25%;
    width: auto;
    cursor: pointer;
}

.switch-container {
    position: relative;
    display: inline-block;
    margin-left: 1em;
    margin-right: 3em;
    flex-shrink: 0;
    width: 2em;
    height: 1em;
}

.switch-area {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.slider-area {
    width: 70%;
}

.small-button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.slidecontainer {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    flex-grow: 1;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 0.7em;
}

.table {
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 80%;
}
/*
tr:nth-child(even) {
    background-color: #ffffff;
}
tr:nth-child(odd) {
    background-color: #cacaca;
} */

/* ================ Buttons ======================= */

.t-button {
    color: #f4f5f6;
    height: 30px;
    border: solid 1px;
    background: #e20074;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
}

.t-button:hover {
    background: #c2166f;
}

.t-button:active {
    background: #e20075c4;
}

.t-button:disabled {
    background: #f38dc2;
}

.small {
    width: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.disabled {
    background: #f3a9cf;
}

.infoButton {
    color: #ffffff;
    width: 25px;
    height: 25px;
    border: solid 1px;
    background: #262626;
    border-radius: 50px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}
.infoButton:hover {
    background: #4e4e4e;
}
.infoButton:hover .tooltiptext {
    visibility: visible;
}

.save {
    background: #8fd14f;
}

.save:hover {
    background: #7bb93d;
}

.save:active {
    background: #b2e480;
}

.cancel {
    background: #262626;
}

.cancel:hover {
    background: #262626e5;
}

.cancel:active {
    background: #969696ec;
}

.switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0em;
    bottom: 0em;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .switch {
    background-color: #e20074;
}

input:checked + .switch:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

.switch.round {
    border-radius: 1em;
}

.switch.round:before {
    border-radius: 50%;
}

.sliderAiFilter {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #a2a2a2;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    float: left;
}

.sliderAiFilter::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #e20074;
    border-radius: 50px;
    cursor: pointer;
}

.sliderAiFilter::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #e20074;
    cursor: pointer;
}

/* ================ Modal ================== */
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 20em;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.modal-label {
    margin: 1em;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* ================ Text ================== */
.content-bold {
    color: #000000;
    margin: 5%;
    font-weight: bold;
}

.onSwitchContent {
    flex-grow: 1;
    margin-right: 1em;
}

.switch-label {
    position: relative;
    display: inline-block;
    height: 1em;
    margin-left: 3%;
}

.slider-label {
    margin-left: 1em;
}

.t-input {
    width: 190px;
    height: 30px;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.5em;
    font-weight: bold;
}

/* Tooltip text */
.infoButton .tooltiptext {
    visibility: hidden;
    width: 15em;
    background-color: rgb(233, 233, 233);
    color: #000000;
    text-align: center;
    padding: 1em;
    border-radius: 6px;
    top: -5px;
    right: 130%;
    position: absolute;
    z-index: 1;
}

/* ================ Responsive ================== */

@media (max-width: 350px) {
    .t-header-logo {
        height: 50%;
        width: auto;
    }

    .t-header-text {
        margin-left: 50px;
    }
}

form {
    padding: 25px;
    display: inline;
}

.formWrapper {
    margin: 5%;
}

.onSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
    float: left;
}
