<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MLDNS - {{.Domain}} wurde blockiert</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/mldns.css" />
        <script src="/assets/js/api.js" type="text/javascript"></script>
        <script src="/assets/js/editList.js" type="text/javascript"></script>
    </head>

    <body>
        <header class="ml-header">
            <img
                alt="Logo"
                src="/assets/img/logo.png"
                class="ml-header-logo"
            />
            <p class="ml-header-text">AI DNS PROTECTION</p>
        </header>
        <section>
            <p class="contenml-bold">
                Unfortunately the site ({{.Domain}}) you are trying to connect
                with is detected as malicious.
                <br />
                <br />
                You can either add this site to the allowlist or go back to the previous site.
            </p>

            <div class="formWrapper">
                <button class="ml-button" onClick="goBack()">Go Back</button>

                <button
                    class="ml-button"
                    onclick="addToList('{{.Domain}}',1,2,'Allowlist')"
                >
                    Add to Allowlist
                </button>
            </div>

            <div class="bg-modal">
                <div class="modal-content">
                    <div class="close">+</div>
                    <div id="modelText" class="modal-label"></div>
                    <button class="ml-button" id="confirm">Confirm</button>
                    <button class="ml-button" id="abort">Abort</button>
                </div>
            </div>
        </section>

        <footer class="ml-footer">
            <img
                alt="Logo"
                src="/assets/img/Youtube Logo Alt.png"
                class="socialMediaBtn"
                id="youtube"
            />
            <img
                alt="Logo"
                src="/assets/img/Twitter Logo.png"
                class="socialMediaBtn"
                id="twitter"
            />
            <img
                alt="Logo"
                src="/assets/img/Insta Logo.png"
                class="socialMediaBtn"
                id="instagram"
            />
        </footer>
    </body>
</html>
