<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MLDNS - Edit {{.ListType}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/mldns.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/assets/js/api.js" type="text/javascript"></script>
        <script src="/assets/js/editList.js" type="text/javascript"></script>
    </head>

    <body>
        <header class="ml-header">
            <img
                alt="Logo"
                src="/assets/img/logo.png"
                class="ml-header-logo"
            />
            <p class="ml-header-text">AI DNS PROTECTION</p>
        </header>
        <section class="setting">
            <div id="listDiv">
                <h2>{{.ListType}}</h2>
                <div id="descriptionDiv">
                    <p>
                        The {{.ListType}} lists all domains which will always be
                        {{.ListVerb}}.
                    </p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Timestamp</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="listContent">
                        {{.Table}}
                    </tbody>
                </table>
            </div>
            <div>
                <button
                    class="ml-button"
                    onClick="addToList(undefined, {{.Level}}, {{.Status}}, '{{.ListType}}')"
                >
                    Add New
                </button>
                <button
                    class="ml-button"
                    onClick="deleteList({{.Level}}, {{.Status}}, '{{.ListType}}')"
                >
                    Clear/Reset {{.ListType}}
                </button>
                <button class="infoButton">
                    I
                    <div class="tooltiptext">Clear/Reset {{.ListType}}</div>
                </button>
            </div>

            <div class="bg-modal">
                <div class="modal-content">
                    <div class="close">+</div>
                    <div id="modelText" class="modal-label"></div>
                    <button class="ml-button" id="confirm">Confirm</button>
                    <button class="ml-button" id="abort">Abort</button>
                </div>
            </div>
        </section>
        <footer class="ml-footer">
            <img
                alt="Logo"
                src="/assets/img/Youtube Logo Alt.png"
                class="socialMediaBtn"
                id="youtube"
            />
            <img
                alt="Logo"
                src="/assets/img/Twitter Logo.png"
                class="socialMediaBtn"
                id="twitter"
            />
            <img
                alt="Logo"
                src="/assets/img/Insta Logo.png"
                class="socialMediaBtn"
                id="instagram"
            />
        </footer>
    </body>
</html>
